.contact{
    min-height: 100vh;

    input{
        background-color: #CEDCFF;
        margin-top: 20px;
        color: black;
        border-radius: 20px;
    }

    button{
        margin-top: 20px;
        border: 1px solid #5180F6;
        background-color: transparent;
        padding: 8px 40px;
        border-radius: 20px;
    }
}