<section class="testymonials bg-light">
    <div class="container">

        <h2 class="main-title py-4">Testymonials</h2>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3  rounded-5 p-4" style="max-width: 650px;">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src="./assets/img/profile pic.png" class="rounded-circle w-75" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title text-main-color">Courtney Henry</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                          <p class="card-text text-main-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                                                  </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3  rounded-5 p-4" style="max-width: 650px;">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src="./assets/img/profile pic.png" class="rounded-circle w-75" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title text-main-color">Courtney Henry</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                          <p class="card-text text-main-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                                                  </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3  rounded-5 p-4" style="max-width: 650px;">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src="./assets/img/profile pic.png" class="rounded-circle w-75" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title text-main-color">Courtney Henry</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                          <p class="card-text text-main-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                                                  </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3  rounded-5 p-4" style="max-width: 650px;">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src="./assets/img/profile pic.png" class="rounded-circle w-75" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title text-main-color">Courtney Henry</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                          <p class="card-text text-main-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                                                  </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>

</section>