<section class="services py-4 bg-light">
    <div class="container">

<h2 class="main-title text-center">Services</h2>

<div class="d-flex flex-column align-items-center">


<div class="row py-2 g-4 ">
    <div class="col-lg-4 col-md-6   d-flex justify-content-center">
        <div class="card rounded-4 overflow-hidden" style="width: 18rem;">
            <img src="./assets/img/1.png" height="290" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
          </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card rounded-4 overflow-hidden" style="width: 18rem;">
            <img src="./assets/img/2.png" height="290" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
          </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <div class="card rounded-4 overflow-hidden" style="width: 18rem;">
            <img src="./assets/img/3.jpeg" height="290" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
          </div>
    </div>
</div>

<button class="btn-secondary-color mt-4">Help Me</button>
    
</div>

</div>

</section>