
<section class="home p-5 d-flex flex-column align-items-center">

    
    <div class="title py-4 d-flex justify-content-center align-items-center">
      <img src="./assets/img/Trash Hauling.png" width="70" alt="">
      <div class="">
        <h1 class="text-main-color px-3">Round Rock</h1>
         <span class="px-3 text-main-color">Trush Hauling</span>
      </div>
    </div>

    <button class="btn-main-color mt-5">Experts</button>

    <div class=" main py-1 text-gray-color">
      <h2>Lorem <br> <span class="long">Lorem lorem</span></h2>
    </div>
    <p class="pt-4 text-gray-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>

    
    <button class="btn-secondary-color mt-3">Help Me</button>


</section>
